body{
	margin:0;
	padding:0;
}
table {
	margin:20px 5px;
	border-collapse: collapse;
}
table,tr,td{
	border: 1px solid #878787;
}

td{
	min-width: 100px;
	padding:5px 20px;
}
h2,h3,h4,h5,h6,form{
	margin:5px;
	padding:5px;
	color: #555;
}
.valid{
	font-size:18px;
	color:#1b1;
}

.not-valid{
	font-size:18px;
	color:#f11;
}
.file-iban-valid{
	font-size:18px;
	font-weight:bold;
}

.table-header{
	min-width: 100px;
	padding-left:20px;	
	background:#7788aa;
	font-size:18px;
	color:#fff;		
}
.iban-data{
	min-width: 400px;
	padding:0 20px;		
}
.main-wrapper{
	width:700px;/**/
	min-height:350px;
	margin: 20px auto;
	border: 1px solid #adadad;/**/	
	background:#fafbfb;
}
.iban-input{
	min-height:130px;
	margin: auto;
	padding: 10px;
	border-bottom: 1px solid #adadad;	
}
.ibanInput{
	font-size:20px;
	color:#128;
}
.iban-file{
	min-height:200px;
	margin: auto;
	padding: 10px;
}